/* tcw - CSS */


:root {
    --text-color: #2b2b2b;
    --background-color: #ffffff;
    --link-color: #507ea4;
}
:root[theme="dark"] {
    --text-color: #E9EEF3;
    --background-color: #000000;
    --link-color: #7dc4ff;
}

/* メニューバーとメインコンテンツ(main) */
@media (min-width: 639px) {
    .menu {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        align-items: center;
    }
    .menu a, .menu button { padding: 3%; font-size: 1.2em; }

    .main { padding: 3% 13%; }
}
@media (max-width: 640px) {
    .menu h1, .menu div { text-align: center; }

    .main { padding: 5%; }
}

/* リンクリスト */
.menu div {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: center;
}

/* ボタンデザインをリセット */
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: larger;
    appearance: none;
}

/* Main */
body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* URLのリンクの配色 */
a { font-size: medium; }
a:link { color: var(--link-color); text-decoration: none; }
a:visited { color: var(--link-color); text-decoration: none; }
a:hover { color: var(--link-color); text-decoration: none; }
a:active { color: var(--link-color); text-decoration: none; }

/* none decoration */
.none-decoration { padding: 0 3%; list-style: none; }